<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Apple Retail Store - Store Spends Upload</title>
  <meta name="omni_page" content="Retail Store - Store Spends Upload">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="pics-label" content='(pics-1.1 "http://www.icra.org/ratingsv02.html" l gen true for "http://www.apple.com" r (cz 1 lz 1 nz 1 oz 1 vz 1) "http://www.rsac.org/ratingsv01.html" l gen true for "http://www.apple.com" r (n 0 s 0 v 0 l 0))'>
  <meta http-equiv="Expires" content="Fri, 26 Mar 1999 23:59:59 GMT">
  <meta http-equiv="pragma" content="no-cache">
  <meta name="Author" content="Apple Inc.">
  <meta name="Keywords" content="Apple">
  <meta name="Category" content="">
  <meta name="Description" content="">
  <meta name="viewport" content="width=1024"/>
  <script src="http://images.apple.com/global/scripts/lib/prototype.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/lib/scriptaculous.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/browserdetect.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/apple_core.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/search_decorator.js" type="text/javascript" charset="utf-8"></script>

  <link rel="stylesheet" href="http://images.apple.com/global/styles/base.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="http://images.apple.com/global/styles/overlay.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="http://images.apple.com/retail/styles/sgrid.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="http://images.apple.com/retail/styles/retail.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="http://images.apple.com/retail/onetoone/styles/onetoone.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="http://images.apple.com/retail/styles/curriculumbrowser.css" type="text/css" charset="utf-8">

  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/fiscal-year.css" type="text/css" charset="utf-8">
  <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/facebox.css"></link>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-scrollTo-min.js"></script>
  <script type="text/javascript" src="/javascripts/facebox.js">
  
  

  <script src="http://images.apple.com/global/scripts/lib/event_mixins.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/ac_quicktime.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/overlay.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/retail/scripts/overlays.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/swap_view.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/store_selector.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://images.apple.com/global/scripts/overlay_panel.js" type="text/javascript" charset="utf-8"></script> 

  </head>

  <body id="overview" class="onetoone overview">
    <script src="http://images.apple.com/global/nav/scripts/shortcuts.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    var searchSection = 'global';
    var searchCountry = 'us';
    </script>
    <div id="globalheader">
      <!--googleoff: all-->
      <ul id="globalnav">
        <li id="gn-apple"><a href="http://www.apple.com/">Apple</a></li>
        <li id="gn-store"><a href="http://store.apple.com">Store</a></li>
        <li id="gn-mac"><a href="http://www.apple.com/mac/">Mac</a></li>
        <li id="gn-ipoditunes"><a href="http://www.apple.com/itunes/">iPod + iTunes</a></li>
        <li id="gn-iphone"><a href="http://www.apple.com/iphone/">iPhone</a></li>
        <li id="gn-downloads"><a href="http://www.apple.com/downloads/">Downloads</a></li>
        <li id="gn-support"><a href="http://www.apple.com/support/">Support</a></li>
      </ul>
      <!--googleon: all-->
      <div id="globalsearch">
        <form action="http://searchcgi.apple.com/cgi-bin/sp/nph-searchpre11.pl" method="post" class="search" id="g-search">
          <div>
            <input type="hidden" value="utf-8" name="oe" id="search-oe">
            <input type="hidden" value="p" name="access" id="search-access">
            <input type="hidden" value="us_only" name="site" id="search-site">
            <input type="hidden" value="lang_en" name="lr" id="search-lr">
            <label for="sp-searchtext"><span class="prettyplaceholder">Search</span><input type="search" name="q" id="sp-searchtext" class="g-prettysearch applesearch" accesskey="s"></label>
          </div>
        </form>
        <div id="sp-results"><div class="inside"></div></div>
      </div>
    </div>

    <div id="top">
    </div>

    <div id="container">
      <h1><a href="http://www.apple.com/retail/" class="replaced">Apple Retail Store.</a></h1>
      <div id="hero">
        <h2 class="replaced">Apple Retail Store Spends</h2>
      </div> <!-- /hero -->
      <div id="main" class="sgrid">
        
        <%= yield %>
          
      </div> <!-- /main -->
      <div class="main_capbottom"></div>
    </div> <!-- /container -->

    <div id="globalfooter" class="gf-980">
      <div id="breadcrumbs">
        <a href="http://www.apple.com/" class="home">Home</a><span>&gt;</span><a href="http://www.apple.com/retail/">Apple Retail Store</a><span>&gt;</span>Store Spends Upload
      </div>
      <p class="gf-buy">Shop the <a href="http://www.apple.com/store/">Apple Online Store</a> (1-800-MY-APPLE), visit an <a href="http://www.apple.com/retail/">Apple Retail Store</a>, or find a <a href="http://www.apple.com/buy/locator/">reseller</a>.</p>

      <ul class="gf-links piped">
        <li><a href="http://www.apple.com/about/" class="first">Apple Info</a></li>
        <li><a href="http://www.apple.com/sitemap/">Site Map</a></li>
        <li><a href="http://www.apple.com/hotnews/">Hot News</a></li>
        <li><a href="http://www.apple.com/rss/">RSS Feeds</a></li>
        <li><a href="http://www.apple.com/contact/" class="contact_us">Contact Us</a></li>
        <li><a href="http://www.apple.com/choose-your-country/" class="choose" title="Choose your country or region."><img src="http://images.apple.com/home/elements/worldwide_us.png" alt="United States" width="22" height="22"></a></li>
      </ul>

      <div class="gf-sosumi">
        <p>Copyright &copy; 2009 Apple Inc. All rights reserved.</p>
        <ul class="piped">
          <li><a href="http://www.apple.com/legal/terms/site.html" class="first">Terms of Use</a></li>
          <li><a href="http://www.apple.com/legal/privacy/">Privacy Policy</a></li>
        </ul>
      </div>


    </div> <!-- /globalfooter -->
  </body>
  </html>